.example {
    background: #283339;
    padding: 10px;
    margin-bottom: 50px;
}
.code {
    margin-left: -100px;
    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: 0;
}
.selector, .brace {
    color: #849d66;
}
.method {
    color: #b2bbc4;
}
.jq {
    color: #5d8a87;
}
.key {
    color: #8666a3;
}
.comment {
    color: #96a4be;
}