body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
}
.container {
    max-width: 960px;
    margin: 0 auto;
}
.copy {
     background: #eef1f3;
     padding: 26px;
     margin-bottom: 80px;
 }
.copy h1 {
    font-size: 1.7em;
}
.no-margin {
    margin-bottom: 0;
}